* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../media/beforeGameBackground.png);
    background-size: 100%;
}

.container {
    background: #fff;
    border-radius: 0.5rem;
    width: 40rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 1rem #0000001a;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
}

select, input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

select:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #888;
}

.create-game-button {
    text-align: right;
    margin-top: 3rem;
    display: inline;
}

.leave-game-button {
    text-align: left;
    margin-top: 3rem;
    display: inline;
    margin-right: 8rem;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

button {
    background: #d2a741;
    color: #fff;
    border: .2rem darkgoldenrod solid;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s, background-color 0.5s;
}

button:hover {
    background-color: #005f73;
}
