* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 0.5rem;
    width: 25rem;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}

select:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #888;
}

.create-game-button {
    text-align: right;
    margin-top: 2rem;
    display: inline;
}

.leave-game-button {
    text-align: left;
    margin-top: 2rem;
    display: inline;
    margin-right: 4.7rem;
}

button {
    background: #007BFF;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}