body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../media/beforeGameBackground.png);
    background-size: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    width: 50%;
}

h1 {
    background-color: #D2A741;
    border-radius: 0.75rem;
    padding: 1rem;
    color: white;
    font-size: 5rem;
    margin-bottom: 2rem;
    border: 0.3rem solid darkgoldenrod;
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom:2rem;
}

ul {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    background-color: #D2A741;
    border-radius: 0.75rem;
    border: .2rem darkgoldenrod solid;
}

button {
    background-color: goldenrod;
    color: white;
    border: .2rem darkgoldenrod solid;
    padding: 0 .4rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    width: 40%;
    height: 4rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    transition: 0.5s, background-color 0.5s;
}

button:hover{
    background-color: #005f73;
}

li{
    border-radius: 1rem;
    margin-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#firstPlace{
    background-color: gold;
}
#secondPlace{
    background-color: silver;
}
#thirdPlace{
    background-color: #cd7f32;
}
#fourthPlace{
    background-color: #1f8383;
}
