@font-face {
 font-family: 'MyCustomFont';
 src: url('../fonts/Itim-Regular.ttf') format('truetype');
}

body {
 background-image: url("../../media/gamebackground.png");
 background-size: 100%;
    font-family: MyCustomFont, sans-serif;
    color: white;
    -webkit-text-stroke: .045rem black;
}

/* DEVELOPMENT CARDS */

#gameScreen h2 {
    text-align: center;
    -webkit-text-stroke: 0.01rem black;
}

#cardType {
 height: auto;
 display: block;
 width: 7rem;
 margin-bottom: 0;
}

#cardToken {
 position: absolute;
 width: 2rem;
 height: 2rem;
 top: 0.5%;
 right: 0.5%
}

#tokens {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    padding: 0.5rem;
    border: 0.3rem solid darkgoldenrod;
    border-radius: 1rem;
    margin-left: 70%;
    top: 9%;
}

#tokens ul li{
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
}

#cost li {
    -webkit-text-stroke: 0.03rem black;
    font-size: 1.2rem;
    color: white;
    background-size: contain;
    text-align: center;
    align-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

#cost{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    position: absolute;
    width: 100%;
    height: 2rem;
    bottom: 6%;
    left: 7.25%;
}

#cardsContainer {
 display: grid;
 grid-gap: 1rem;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 width: 35%;
}

#gameScreen figure {
 position: relative;
 display: inline-block;
 width: fit-content;
 height: auto;
}

#market {
    width: 100%;
}

#gameScreen {
    position: fixed;
    margin-left: 34.5%;
    top: 2%;
    width: 32.1%;
}

#cardsContainer p {
    background: url("../../media/prestigestar.png") no-repeat;
    background-size: contain;
    font-size: 1.2rem;
    text-align: center;
    -webkit-text-stroke: 0.03rem black;
    align-content: center;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 0.4%;
    left: 0.4%;
}

.hidden {
    display: none;
}

/* GEMS */

.rubycard {
    background: url("../images/rubycard.png") no-repeat;
    background-size: contain;
}

.emeraldcard {
    background: url("../images/emeraldcard.png") no-repeat;
    background-size: contain;
}

.diamantcard {
    background: url("../images/diamantcard.png") no-repeat;
    background-size: contain;
}

.amethystcard {
    background: url("../images/amethystrcard.png")no-repeat;
    background-size: contain;
}

.onyxcard {
    background: url("../images/onyxcard.png") no-repeat;
    background-size: contain;
}

.ambercard {
    background: url("../images/ambercard.png") no-repeat;
    background-size: contain;
}

/* PLAYERS */

.players {
    display: flex;
}

.players ul {
    display: inline-block;
    width: 20%;
    font-size: 2rem ;
}

.players ul li.player {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    background-color: goldenrod;
    border-radius: 2rem;
    border-color: darkgoldenrod;
    border-style: solid;
    border-width: 0.25rem;
    padding-left: 0.1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.you .container {
    margin-top: 0.5rem;
}

ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p.prestige{
    background: url("../../media/prestigestar.png") no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.rubyCard {
    background: url("../images/rubycard.png") no-repeat;
    background-size: contain;
}

.emeraldCard {
    background: url("../images/emeraldcard.png") no-repeat;
    background-size: contain;
}

.diamondCard {
    background: url("../images/diamantcard.png") no-repeat;
    background-size: contain;
}

.amethystCard {
    background: url("../images/amethystrcard.png")no-repeat;
    background-size: contain;
}

.onyxCard {
    background: url("../images/onyxcard.png") no-repeat;
    background-size: contain;
}

.amberCard {
    background: url("../images/ambercard.png") no-repeat;
    background-size: contain;
}

ol.tokens li, ol.cards li {
    color: white;
    -webkit-text-stroke: .045rem black;
    width : 2rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin: 0.2rem;
}

ol.cards li {
    height: 2.5rem;
}

ol.tokens li {
    height: 2rem;
}

.rubyToken {
    background: url("../images/rubytoken.png") no-repeat;
    background-size: contain;
}

.emeraldToken {
    background: url("../images/emeraldtoken.png") no-repeat;
    background-size: contain;
}

.diamondToken {
    background: url("../images/diamanttoken.png") no-repeat;
    background-size: contain;
}

.amethystToken {
    background: url("../images/amethysttoken.png")no-repeat;
    background-size: contain;
}

.onyxToken {
    background: url("../images/onyxtoken.png") no-repeat;
    background-size: contain;
}

.amberToken {
    background: url("../images/ambertoken.png") no-repeat;
    background-size: contain;
}

.you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border-radius: 2rem;
    border-color: darkgoldenrod;
    border-style: solid;
    border-width: 0.25rem;
    padding-left: 0.1rem;
    width: 30%;
}

#bottomrow {
    width: 95%;
    position: fixed;
    bottom: 0;
    justify-content: left;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
}

#tokenSelection h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

p.prestige2 {
    background-size: contain;
    background-image: url("../../media/prestigestar.png");
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    font-size: 2.5rem;
}

#tokenSelection div img {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

#yourcards {
    width: 40%;
    margin-left: 2.2rem;
}

.you ol.tokens li,.you ol.cards li {
    font-size: 3rem;
}

.you ol.cards li {
    height: 4rem;
    width: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.4rem;
}

.you ol.tokens li {
    height: 3.5rem;
    width: 3.5rem;
}

#endTurn {
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    font-size: 3rem;
    background-color: goldenrod;
    border-radius: 2rem;
    border-color: darkgoldenrod;
    border-style: solid;
    border-width: 0.25rem;
    margin-left: 7.6rem;
}

/* End screen
-----------------------------------------*/
.end-screen {
 margin-left: auto;
 margin-right: auto;
 margin-top: 2.2rem;
 background-color: rgba(255,255,255,0.6);
 box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
 border-radius: 0.75rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3rem;
 text-align: center;
 width: 30rem;
}

.game-over {
 background-color: #D2A741;
 border-radius: 0.75rem;
 padding: 2rem;
 color: white;
 font-size: 5rem;
 margin-bottom: 2rem;
}

img {
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
}

.score-board {
 margin-bottom: 1rem;
 padding: 1rem;
 color: white;
 font-size: 2.5rem;
 background-color: #D2A741;
 border-radius: 0.75rem;
}

button {
 background-color: #D2A741;
 border-radius: 0.75rem;
 color: white;
 padding: 1rem;
 border: none;
 margin-bottom: 1rem;
}

.play-again {
 font-size: 4rem;
}

.return {
 font-size: 1.5rem;
}

button:hover {
 background-color: #5a5a5a;
}
