@font-face {
 font-family: 'MyCustomFont';
 src: url('../fonts/Itim-Regular.ttf') format('truetype');
}
body {
 font-family: MyCustomFont;
 background-color: hotpink;
}


/* End screen
-----------------------------------------*/
.end-screen {
 margin-left: auto;
 margin-right: auto;
 margin-top: 2.2rem;
 background-image:url("");
 background-color: rgba(255,255,255,0.6);
 box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
 border-radius: 12px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3rem;
 text-align: center;
 width: 30rem;
}

.game-over {
 background-color: #D2A741;
 border-radius: 12px;
 padding: 2rem;
 color: white;
 font-size: 5rem;
 margin-bottom: 2rem;
}

img {
 margin-bottom: 2rem;
 width: 6rem;
 height: 6rem;
}

.score-board {
 margin-bottom: 1rem;
 padding: 1rem;
 color: white;
 font-size: 2.5rem;
 background-color: #D2A741;
 border-radius: 12px;
}

button {
 background-color: #D2A741;
 border-radius: 12px;
 color: white;
 padding: 1rem;
 border: none;
 margin-bottom: 1rem;
}

.play-again {
 font-size: 4rem;
}

.return {
 font-size: 1.5rem;
}

button:hover {
 background-color: #5a5a5a;
}
