@font-face {
 font-family: 'MyCustomFont';
 src: url('../fonts/greek.ttf') format('truetype');
}

body {
 background-image: url("../images/gamebackground.png");
 background-size: 100%;
 font-family: MyCustomFont;
}

/* DEVELOPMENT CARDS */

#cardType {
 height: auto;
 display: block;
 width: 7rem;
}

#cardToken {
 position: absolute;
 width: 2rem;
 height: 2rem;
 top: 0.5%;
 right: 0.5%
}

#gamescreen article {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 width: 35%;
}

#gamescreen article figure {
 margin-top: 1.5rem;
 position: relative;
 display: inline-block;
 width: fit-content;
 height: auto;
}

/*p {
 background-image: url("../../media/ambertoken.png");
 color: white;
 font-size: 1.5rem;
 -webkit-text-stroke: 0.4px black;
 position: absolute;
 background-size: contain;
 text-align: center;
 align-content: center;
 width: 2rem;
 height: 2rem;
 top: 1%;
 right: 1%
}*/

