@font-face {
 font-family: 'MyCustomFont';
 src: url('../fonts/Itim-Regular.ttf') format('truetype');
}

body {
 background-image: url("../../media/gamebackground.png");
 background-size: 100%;
    font-family: MyCustomFont, sans-serif;
    color: white;
    -webkit-text-stroke: .045rem black;
}

/* DEVELOPMENT CARDS */

h2 {
    text-align: center;
}

#cardType {
 height: auto;
 display: block;
 width: 7rem;
 margin-bottom: 0;
}

#cardToken {
 position: absolute;
 width: 2rem;
 height: 2rem;
 top: 0.5%;
 right: 0.5%
}

#cost li {
    -webkit-text-stroke: 0.03rem black;
    font-size: 1.2rem;
    color: white;
    background-size: contain;
    text-align: center;
    align-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

#cost{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    position: absolute;
    width: 100%;
    height: 2rem;
    bottom: 6%;
    left: 7.25%;
}

#cardsContainer {
 display: grid;
 grid-gap: 1rem;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 width: 35%;
}

#gameScreen figure {
 position: relative;
 display: inline-block;
 width: fit-content;
 height: auto;
}

#gameScreen {
    position: fixed;
    margin-left: 34.5%;
    top: 2%;
    width: 32.1%;
}

#cardsContainer p {
    background: url("../../media/prestigestar.png") no-repeat;
    background-size: contain;
    font-size: 1.2rem;
    text-align: center;
    -webkit-text-stroke: 0.03rem black;
    align-content: center;
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    top: 0.4%;
    left: 0.4%;
}

.hidden {
    display: none;
}

/* GEMS */

.rubycard {
    background: url("../images/rubycard.png") no-repeat;
    background-size: contain;
}

.emeraldcard {
    background: url("../images/emeraldcard.png") no-repeat;
    background-size: contain;
}

.diamantcard {
    background: url("../images/diamantcard.png") no-repeat;
    background-size: contain;
}

.amethystcard {
    background: url("../images/amethystrcard.png")no-repeat;
    background-size: contain;
}

.onyxcard {
    background: url("../images/onyxcard.png") no-repeat;
    background-size: contain;
}

.ambercard {
    background: url("../images/ambercard.png") no-repeat;
    background-size: contain;
}

/* Gems */

.rubyCard {
    background: url("../images/rubycard.png") no-repeat;
    background-size: contain;
}

.emeraldCard {
    background: url("../images/emeraldcard.png") no-repeat;
    background-size: contain;
}

.diamondCard {
    background: url("../images/diamantcard.png") no-repeat;
    background-size: contain;
}

.amethystCard {
    background: url("../images/amethystrcard.png")no-repeat;
    background-size: contain;
}

.onyxCard {
    background: url("../images/onyxcard.png") no-repeat;
    background-size: contain;
}

.amberCard {
    background: url("../images/ambercard.png") no-repeat;
    background-size: contain;
}

.rubyToken {
    background: url("../images/rubytoken.png") no-repeat;
    background-size: contain;
}

.emeraldToken {
    background: url("../images/emeraldtoken.png") no-repeat;
    background-size: contain;
}

.diamondToken {
    background: url("../images/diamanttoken.png") no-repeat;
    background-size: contain;
}

.amethystToken {
    background: url("../images/amethysttoken.png")no-repeat;
    background-size: contain;
}

.onyxToken {
    background: url("../images/onyxtoken.png") no-repeat;
    background-size: contain;
}

.amberToken {
    background: url("../images/ambertoken.png") no-repeat;
    background-size: contain;
}

/* End screen
-----------------------------------------*/
.end-screen {
 margin-left: auto;
 margin-right: auto;
 margin-top: 2.2rem;
 background-color: rgba(255,255,255,0.6);
 box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
 border-radius: 0.75rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3rem;
 text-align: center;
 width: 30rem;
}

.game-over {
 background-color: #D2A741;
 border-radius: 0.75rem;
 padding: 2rem;
 color: white;
 font-size: 5rem;
 margin-bottom: 2rem;
}

img {
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
}

.score-board {
 margin-bottom: 1rem;
 padding: 1rem;
 color: white;
 font-size: 2.5rem;
 background-color: #D2A741;
 border-radius: 0.75rem;
}

button {
 background-color: #D2A741;
 border-radius: 0.75rem;
 color: white;
 padding: 1rem;
 border: none;
 margin-bottom: 1rem;
}

.play-again {
 font-size: 4rem;
}

.return {
 font-size: 1.5rem;
}

button:hover {
 background-color: #5a5a5a;
}
