body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../media/beforeGameBackground.png);
    height: 100vh;
    background-size: 100%;
}

#startScreen {
    background-position: center;
    width: 45%;
    margin: 1rem auto;
    border-radius: 2rem;
    background-color: #ffffff99;
    box-shadow: 0 0.25rem 0.5rem 0 #00000033, 0 0.375rem 1.25rem 0 #00000030;
}

#startScreen label{
    font-size: 3rem;
    text-align: center;
    color: goldenrod;
    -webkit-text-stroke: .15rem darkgoldenrod;
    margin-top: 3rem;
}
#startScreen input{
    width: 35rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-family: inherit;
    color: white;
    -webkit-text-stroke: .015rem black;
    background-color: goldenrod;
    border-color: darkgoldenrod;
    border-width: thick;
}

#startScreen input:focus{
    border-color: black;
    border-width: thick;
}

#startScreen form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

#startScreen button {
    background-color: goldenrod;
    color: white;
    border: .2rem darkgoldenrod solid;
    padding: 0 .4rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    width: 50%;
    height: 4.5rem;
    font-size: 3rem;
    margin-top: 3rem;
    transition: 0.5s, background-color 0.5s;
}

#startScreen button:last-child{
    margin-bottom: 3rem;
}

#startScreen button:hover{
    background-color: #005f73;
}

#startScreen header h2{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding-top: 1rem;
    color: goldenrod;
    -webkit-text-stroke: .25rem darkgoldenrod;
}
