body {
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../media/beforeGameBackground.png) center / cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: goldenrod;
    -webkit-text-stroke: .25rem darkgoldenrod;
}

header {
    margin-bottom: 2.5rem;
    padding-top: 4.5rem;
}


.nav-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.nav-bar li button:hover {
    background-color: #005f73;
}


.nav-bar li {
    margin: 1rem 5rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 0.5rem;
}

main ul {
    background-color: goldenrod;
    display: grid;
    grid-template-columns: 1.2fr 12fr 0.5fr 0.35fr auto;
    padding: 0.6rem;
    transition: 0.5s, background-color 0.5s;
}

main ul:hover {
    background-color: #005f73;
    cursor: pointer;
    color: white;
}

.selected {
    background-color: #005f73;
    color: white;
}

select#filter {
    width: 20rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: .2rem darkgoldenrod solid;
    background-color: goldenrod;
    color: white;
    font-size: 1.5rem;
}

select#filter option {
    padding: 0.625rem;
    background-color: goldenrod;
    color: #fff;
}

.search-filter-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search-filter-menu input,
.search-filter-menu select {
    width: 20rem;
    border-radius: 0.3rem;
    border: .2rem darkgoldenrod solid;
    background-color: goldenrod;
    color: white;
    font-size: 1.5rem;
}

.search-filter-menu input {
    margin-right: 1rem;
}

#search {
    width: 20rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: .2rem darkgoldenrod solid;
    background-color: goldenrod;
    color: white;
    font-size: 1.5rem;
}

::placeholder{
    color: white;
}

.search-menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
