body {
    max-width: 85%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

header {
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
}

main {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border: solid 1px #000000;
}

.nav-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.nav-bar li button {
    font-size: 2.5rem;
    width: 20rem;
    margin: 2rem;
    padding: 1.5rem;
    text-align: center;
    border: 0.1rem solid;
    border-radius: 3rem;
    cursor: pointer;
    background-color: white;
    transition: 0.5s, background-color 0.5s;
}

.nav-bar li button:hover {
    background-color: #a1a1a1;
    color: white;
}


.nav-bar li {
    margin: 1rem 5rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 0.5rem;
}

.filter-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
