body {
    max-width: 80%;
    margin: 0 auto;
    background: url(../images/beforeGameBackground.png) center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: goldenrod;
    -webkit-text-stroke: .25rem darkgoldenrod;
}

header {
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
}


.nav-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.nav-bar li button:hover {
    background-color: #005f73;
}

main ul li {
    display: block;
    padding: 0.6rem;
    margin-bottom: 1rem;
    background-color: goldenrod;
    transition: background-color 0.5s;
}

.nav-bar li {
    margin: 1rem 5rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 0.5rem;
}

main ul li:hover {
    background-color: #005f73;
    cursor: pointer;
    color: white;
}
