.popup {
    background-position: center;
    text-align: center;
    width: 45%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
}

.popup p{
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

#current-winner{
    padding-bottom: 2rem;
    font-weight: bold;
}

.close {
    float: right;
    font-size: 3rem;
    font-weight: bold;
    padding-right: 1rem;
    color: red;
}

.close:hover,
.close:focus {
    cursor: pointer;
    color: #d2a741;
}

.popup button{
    font-size: 2rem;
    border-radius: 2rem;
    border-color: darkgoldenrod;
    border-style: solid;
    border-width: 0.25rem;
    cursor: pointer;
    width: 10rem;
}

.popup ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}
