#prestige-popup {
    background-position: center;
    text-align: center;
    width: 45%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 19%);
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#current-winner{
    padding-bottom: 2rem;
    font-weight: bold;
}

.close {
    float: right;
    font-size: 3rem;
    font-weight: bold;
    padding-right: 1rem;
    color: red;
}

.close:hover,
.close:focus {
    cursor: pointer;
    color: #d2a741;
}

body{
    background-color: turquoise;
