body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/beforeGameBackground.png) center;
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
section {
    border: 0.1rem black solid;
    margin: auto;
}


.nav-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.nav-bar li button:hover {
    background-color: #005f73;
}


.nav-bar li {
    margin: 1rem 5rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 0.5rem;
}