body {
    max-width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../media/beforeGameBackground.png);
    background-size: 100%;
}

header {
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: goldenrod;
    -webkit-text-stroke: .25rem darkgoldenrod;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1.25rem;
    border-radius: 1rem;
    border: 0.1rem black solid;
    margin: auto;
    width: 60vw;
    min-height: 50vh;
    max-height: 50vh;
}

#rules-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.rule-article {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    display: none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    color: black;
}

.nav-bar li {
    margin: 1rem 5rem;
    display: inline-block;
    padding: 1.5rem;
    font-size: 0.5rem;
}

.rule-article p, .rule-article ul li {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.rule-article.active {
    display: block;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.nav-buttons button {
    background: #d2a741;
    color: #fff;
    border: .2rem darkgoldenrod solid;
    padding: 0.75rem 1.75rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s, background-color 0.5s;
}

.nav-buttons button:hover {
    background-color: #005f73;
}

.nav-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.nav-bar li button:hover {
    background-color: #005f73;
}
